/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
    max-width: 900px;
    margin: auto;
}


/* Header */
header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    margin-bottom: 10px;
}

/* Sections */
section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Projects */
.project {
    margin-bottom: 20px;
}

.profile-img {
    width: 100px;        
    height: auto;
    border-radius: 5px; 
    display: block;
    margin-bottom: 15px;
}


/* Form */
form input,
form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

/* Responsive Design */
@media (min-width: 768px) {
    #projects {
        display: flex;
        gap: 20px;
    }

    .proj
